# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Ambientes
.venv/
venv/

# Arquivos locais / temporários
*.lnk
*.bat
*.db
*.7z
*.pdf
*.pem

# Dados sensíveis
usuarios.json
usuarios.txt

# Outros
extensions/